.subheader {
    font-weight: 600;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.781);
}

.about-content {
    color: rgba(255, 255, 255, 0.781);
}

.skillbar-outline {
    border-radius: 5px;
    z-index: 0;
    height: 35px;
    background-color: white;
    width: 100%;
    position: relative;
}

.skillbar-dynamic {
    border-radius: 5px;
    z-index: 1;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.skillbar-label {
    border-radius: 5px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 17%;
    height: 100%;
    color: white;
}

.skillbar-label span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    height: 35px;
    line-height: 35px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* Mobile devices, portrait */
@media only screen and (min-device-width : 250px) and (max-device-width : 480px) and (orientation: portrait) {
    .skillbar-label {
        border-radius: 5px;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 35%;
        height: 100%;
        color: white;
    }

    .about-content {
        font-size: 1.1rem;
    }
}

/* Tablets, portrait */
@media only screen and (min-device-width : 481px) and (max-device-width : 880px) and (orientation: portrait) {
    .skillbar-label {
        border-radius: 5px;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        height: 100%;
        color: white;
    }

    .about-content {
        font-size: 1.1rem;
    }
}

/* Mobile devices, landscape */
@media only screen and (min-device-width : 250px) and (max-device-width : 780px) and (orientation: landscape) {
    .skillbar-label {
        border-radius: 5px;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 27%;
        height: 100%;
        color: white;
    }

    .about-content {
        font-size: 1.1rem;
    }
}