.footer-wrapper {
    background-image: url('/background footer.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
}

.footer-container {
    color: rgba(255, 255, 255, 0.781);
}