.contact-container {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 100%;
    max-height: 100%;
}

.subheader {
    font-weight: 600;
    font-size: 2rem;
}

.contact-wrapper {
    background-image: url('/background 5.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

/* Mobile devices, portrait */
@media only screen and (min-device-width : 250px) and (max-device-width : 480px) and (orientation: portrait) {
    .contact-content {
        font-size: 1.1rem;
    }
}

/* Tablets, portrait */
@media only screen and (min-device-width : 481px) and (max-device-width : 880px) and (orientation: portrait) {
    .contact-content {
        font-size: 1.1rem;
    }
}

/* Mobile devices, landscape */
@media only screen and (min-device-width : 250px) and (max-device-width : 820px) and (orientation: landscape) {
    .contact-content {
        font-size: 1.1rem;
    }
}